HELP.md

# Gradle files
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse project files
.classpath
.project
.settings/
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/logs/

### Mac
.DS_Store

.java-version
